

@font-face {
	font-family: 'DINOT';
 	src: url('fonts/dinot.eot');
 	src: url('fonts/dinot.eot?#iefix') format('embedded-opentype'), url('fonts/dinot.woff') format('woff'), url('fonts/dinot.ttf') format('truetype'), url('fonts/dinot.svg#dinot') format('svg');
 	font-weight: normal;
 	font-style: normal;
}

.overlayContent{
	width: 584px;
	height: 368px;

	font-family: DINOT, verdana;

	background-color: #ffffff;
	border-radius: 5px;
	text-align: center;
}

.overlayContent h1{
	margin-top: 58px;
	font-size: 26px;
	color:#000000;
}

.overlayContent p{
	margin-top: 28px;
	font-size: 16px;
	color:#111111;
}

#textMessage{
	display: block;
	width: 333px;
	height: 90px;
	margin: 0 auto;
	margin-top: 36px;
	margin-bottom: 20px;
	background-color: transparent;
	font-size: 16px;
	border: 0px solid;
	text-align: center;
	resize:none;
	color:#999999;
}

#sendButton{
	display:block;
	margin:0 auto;
	width: 122px;
	height: 41px;
	font-size: 16px;
	border: 1px solid #105ed2;
	color:#ffffff;

	background-image: linear-gradient(bottom, #45AEFE 100%, #126EF0 14%);
	background-image: -o-linear-gradient(bottom, #45AEFE 100%, #126EF0 14%);
	background-image: -moz-linear-gradient(bottom, #45AEFE 100%, #126EF0 14%);
	background-image: -webkit-linear-gradient(bottom, #45AEFE 100%, #126EF0 14%);
	background-image: -ms-linear-gradient(bottom, #45AEFE 100%, #126EF0 14%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, #45AEFE),
		color-stop(0.14, #126EF0)
	);
}









